<div th:include="header.html" th:remove="tag"></div>

<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info" >
                <input type="hidden" name="hiddenUsu2" id="hiddenUsu2" th:value="${idusuario}">
                <div class="panel-heading">
                  <div class="panel-title">Hola,<strong><p th:text="${username}"></p></strong> por favor selecciona tu establecimiento </div>
                   
              </div> 

              <div style="padding-top:30px" class="panel-body" >

              <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                  
                  <form class="form-horizontal" th:action="@{'/selected-estab/'+${idusuario}}" method="GET">
                      <div class="form-group">
                          <div class="cols-sm-10">
                              <div class="input-group col-sm-12">
                                <select class="form-control" id="cboEstabs" name="cboEstabs" required>
                                    <option value="">Selecciona</option>
                                    <option th:each="estab : ${estabs}"
                                            th:value="${estab.idestablecimiento}"
                                            th:text="${estab.descripcion}"></option>
                                </select>
                              </div>
                          </div>
                      </div>
                      
                      <div class="form-group">
                          <button class="btn btn-lg btn-primary btn-block" type="submit" id="btn-invitacion">
                              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Seleccionar
                          </button>
                          <button class="btn btn-success btn-block" type="button" id="nuevoEstab">
                            <span class="glyphicon glyphicon-plus"></span>
                                Agregar Nuevo
                          </button>
                          <br/>
                      </div>  
                  </form>
                  
              
          </div>
   </div>
  </div>
</body>

<!-- Modal -->
<div id="modalNewEstab" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Nuevo Establecimiento</h4>
        </div>
        <div class="modal-body">
          <label>Nombre:</label>
          <input type="text" id="txtNuevoEstab" maxlength="50" class="form-control" placeholder="¿Cómo se llama tu establecimiento?">
          <input type="hidden" id="idestab">
          <input type="hidden" id="hiddenUsu2" th:value="${idusuario}">
        </div>
        <div class="modal-footer">
            <button type="button" id="btnGuardaEstab" class="btn btn-primary">Aceptar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
  
    </div>
  </div>
</html>