<div th:include="header.html" th:remove="tag"></div>
<div th:include="./navbar.html" th:remove="tag"></div>
<div class="container">
	<div id="loginbox" style="margin-top:0px;" class="mainbox col-md-10 col-md-offset-0 col-sm-8 col-sm-offset-2">
			<form class="form-inline">
				<div class="form-group">
					Ver Lote
					<select id="cboLoteBusca" class="form-control"></select>
				</div>

				<div class="form-group">
					Asignar a 
					<select id="cboLoteAsignar" class="form-control"></select>
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-success" id="btnLotesBusca"><span class="glyphicon glyphicon-search"></span> Ver Animales</button>
				</div>
				<div class="form-group">
					<button type="button" class=" btn btn-primary" id="btnLoteAsigna"><span class="glyphicon glyphicon-ok"></span> Asignar</button>
				</div>

				<div class="form-group">
					<a href="/lotes/" class="btn btn-success"><span class="glyphicon glyphicon-cog"></span> Administracion de lotes</a>
				</div>
			</form>
	<br/>		
	</div>
	
	<div class="" id="tablaAsignaLote">
	    <table id="tablaAnimalesLotes" class="table table-hover table-striped table-bordered font-table">
	        <thead>
	        	   
	        </thead>
	        <tbody>
	        		
	        </tbody>
	    </table>
     </div>

    <div id="loginbox" style="margin-top:0px;" class="mainbox col-md-6 col-md-offset-0 col-sm-3 col-sm-offset-2">
        <div class="">
	        <table id="listaLotes" class="table table-hover table-striped table-bordered font-table">
	        	<thead>
	        	   
	        	</thead>
	        	<tbody>
	        		
	        	</tbody>
	        </table>
        </div>
    </div>
</div>
<script type="text/javascript">
	$(document).one('ready',function(){
		 var base_url = 'http://localhost:8080/';
		 var idEstablecimiento = 1;
		 llenaCboAsigna();
		 llenaCboLoteBusca();

	 	function llenaCboAsigna(nombreCombo){
			$.ajax({
				type: 'get',
				url: base_url + 'lotes/by-establecimiento/'+idEstablecimiento,
				success: function(data){
					$('#cboLoteAsignar').empty();
					$.each(data,function(key, registro) {
				        $('#cboLoteAsignar').append('<option value="0" selected disabled hidden>Seleccione</option>'+'<option value='+registro.idLote+'>'+registro.descripcion+'</option>');
				    });        
				},
			});
		}

		
		function llenaCboLoteBusca(){
			$.ajax({
				type: 'get',
				url: base_url + 'lotes/by-establecimiento/'+idEstablecimiento,
				success: function(data){
					$('#cboLoteBusca').empty();
					$.each(data,function(key, registro) {
						$('#cboLoteBusca').append('<option value="0" selected disabled hidden>Seleccione</option>'+'<option value='+registro.idLote+'>'+registro.descripcion+'</option>');
					});        
				},
			});
		}

	 });
</script>
</body>

</html>